@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('../fonts/Livvic-SemiBold.woff') format('woff'),
        url('../fonts/Livvic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
        url('../fonts/Livvic-Bold.woff') format('woff'),
        url('../fonts/Livvic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-BoldItalic.woff2') format('woff2'),
        url('../fonts/Livvic-BoldItalic.woff') format('woff'),
        url('../fonts/Livvic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-MediumItalic.woff2') format('woff2'),
        url('../fonts/Livvic-MediumItalic.woff') format('woff'),
        url('../fonts/Livvic-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Regular.woff2') format('woff2'),
        url('../fonts/Livvic-Regular.woff') format('woff'),
        url('../fonts/Livvic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #014E56;
}

main {
    flex-grow: 1;
}
/* HEADER */

.header {
    background-color: #014E56;
}
    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 73px 0px;
    }

    .header__img {
        flex-shrink: 0;
    }

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 80px;
        width: 100%;
    }

    .header__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .header__item + .header__item {
        margin-left: 40px;
    }

    .header__link {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .header__link:hover {
        opacity: 0.8;
    }

    .header__link:active {
        opacity: 0.6;
    }

    .header__btn {
        padding: 10px 32px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 24px;
        white-space: nowrap;
        text-decoration: none;
    }

    .header__btn:hover {
        opacity: 0.8;
    }

    .header__btn:active {
        opacity: 0.6;
    }

    .header__hamburger {
        display: none;
        width: 20px;
        height: 20px;
        background-image: url(../../images/bars.svg);
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }



@media only screen and (max-width: 1000px) {
    .header {
        position: relative;
    }
        .header__container {
            padding: 64px 40px;
        }

}

@media only screen and (max-width: 770px) {
    .header {
        position: relative;
        z-index: 1;
    }

    .header__container {
            justify-content: space-between;
            padding: 48px 24px;
        }

        .header__nav {
            display: none;
        }

        .header__item + .header__item {
            margin-left: 0;
        }

        .header__hamburger {
            display: inline-block;
        }

    .header--open .header__nav {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        position: absolute;
        z-index: 1000;
        width: 80%;
        left: 10%;
        right: 10%;
        top: 100%;
        background-color: #0E8784;
        border-radius: 20px;
    }

    .header--open .header__list {
        flex-direction: column;
        margin-top: 10px;
    }

    .header--open .header__btn {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .header--open .header__hamburger {
        background-image: url(../images/times-solid.svg);
    }
}



/* HOME PAGE HERO */
.hero {
    background: #014E56;
}
    .hero__container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 56px 0px;
        padding-bottom: 250px;
    }

    .hero__heading {
        margin: 0;
        font-weight: bold;
        font-size: 100px;
        line-height: 100px;
        color: #FFFFFF;
        width: 100%;
        max-width: 600px;
    }

    .hero__line {
        margin-bottom: 80px;
    }

    .hero__desc {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        width: 100%;
        max-width: 445px;
    }

    .hero__top {
        position: absolute;
        left: 0%;
    }

    .hero__bottom {
        position: absolute;
        bottom: 0%;
        right: 12%;
        width: 100%;
        max-width: 358px;
    }


@media only screen and (max-width: 1200px) {
    .hero__container {
            flex-direction: column;
            padding: 58px 32px 256px;
        }

        .hero__line {
            display: none;
        }

        .hero__top {
            display: none;
        }

        .hero__heading {
            margin-bottom: 24px;
            font-size: 64px;
            line-height: 56px;
            text-align: center;
        }

        .hero__desc {
            font-size: 15px;
            line-height: 28px;
            text-align: center;
        }
}

@media only screen and (max-width: 780px) {
    .hero__container {
            padding: 32px 24px 197px;
        }

        .hero__heading {
            font-size: 40px;
            line-height: 40px;
        }

        .hero__desc {
            font-size: 15px;
            line-height: 28px;
            text-align: center;
        }
    }



    /* work */
    .work {
        background: #012F34;
    }
        .work__container {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 140px 0px;
        }

        .work__top-img {
            margin-bottom: 54px;
        }

        .work__section {
            display: flex;
            justify-content: space-between;
        }

        .work__heading {
            margin: 0;
            width: 100%;
            max-width: 445px;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            color: #FFFFFF;
        }

        .work__heading:hover {
            opacity: 0.8;
        }

        .work__list {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .work__item + .work__item {
            margin-top: 32px;
        }

        .work__item {
            display: flex;
            align-items: center;
        }

        .work__right {
            display: flex;
            flex-direction: column;
            margin-left: 23px;
        }

        .work__title {
            margin: 0;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            color: #F67E7E;
        }

        .work__desc {
            margin: 0;
            width: 100%;
            max-width: 445px;
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
        }

        .work__desc:hover {
            opacity: 0.8;
        }

        .work__img-left {
            position: absolute;
            right: 0%;
            bottom: 0%;
        }


    @media only screen and (max-width: 1000px) {
        .work__container {
                padding: 100px 98px;
            }

            .work__section {
                display: flex;
                flex-direction: column;
            }

            .work__heading {
                margin-bottom: 64px;
                font-size: 32px;
                line-height: 32px;
            }

            .work__right {
                margin-left: 0px;
            }

            .work__img-left {
                right: 0%;
                top: 0%;
            }
    }

    @media only screen and (max-width: 540px) {
        .work__container {
                padding: 64px 24px;
            }

            .work__heading {
                width: 100%;
                max-width: 260px;
            }
            .work__item + .work__item {
                margin-top: 48px;
            }

            .work__item {
                flex-direction: column;
            }

            .work__list-img {
                margin-bottom: 16px;
            }

            .work__title {
                margin-bottom: 8px;
                text-align: center;
            }

            .work__desc {
                text-align: center;
            }
    }

    /* SERVICE */
    .service {
        background: #004047;
    }
    .service__container {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 140px 0px;
        }

        .service__heading {
            margin: 0;
            margin-bottom: 56px;
            width: 100%;
            max-width: 932px;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            color: #FFFFFF;
        }

        .service__list {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .service__item + .service__item {
            margin-left: 30px;
        }

        .service__item {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .service__desc{
            margin: 0;
            margin-bottom: 24px;
            width: 100%;
            max-width: 350px;
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
        }

        .service__title {
            margin: 0;
            margin-bottom: 2px;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #79C8C7;
        }

        .service__text {
            margin: 0;
            margin-bottom: 32px;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
        }

        .service__top {
            position: absolute;
            left: 0%;
            top: 0%;
        }

        .service__bottom {
            position: absolute;
            right: 0%;
            bottom: 0%;
        }


    @media only screen and (max-width: 1200px) {
        .service__container {
                padding: 100px 98px;
            }

            .service__heading {
                font-size: 32px;
                line-height: 32px;
            }

            .service__list {
                flex-direction: column;
            }

            .service__item + .service__item {
               margin-top: 48px;
               margin-left: 0;
            }


            .service__desc {
                margin-bottom: 16px;
            }

            .service__text {
                margin-bottom: 16px;
            }
    }

    @media only screen and (max-width: 500px) {
        .service__container {
                padding: 140px 24px;
            }

    }

    /* Main-bottom */
    .main-bottom {
        background: #F67E7E;
    }
    .main-bottom__container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 76px 0px;
        }

        .main-bottom__heading {
            margin: 0;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            color: #012F34;
        }

        .main-bottom__btn {
            color: #012F34;
            border: 2px solid #012F34;
        }

        .main-bottom__img {
            position: absolute;
            left: 0%;
            bottom: 0%;
        }


    @media only screen and (max-width: 1200px) {
        .main-bottom__container {
                padding: 76px 98px;
            }

            .main-bottom__heading {
                font-size: 32px;
                line-height: 32px;
            }
    }

    @media only screen and (max-width: 770px) {
        .main-bottom__container {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 83px 24px;
            }

            .main-bottom__heading {
                margin: 0 auto;
                margin-bottom: 24px;
            }
    }

    /* FOOTER */
    .footer {
        background: #002529;
    }

    .footer__container {
        display: flex;
        padding: 48px 0px;
    }

    .footer__left-section {
        display: flex;
        align-items: center;
    }

    .footer__left {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .footer__logo:hover {
        opacity: 0.8;
    }

    .footer__logo:active {
        opacity: 0.6;
    }

    .footer__left-list {
        display: flex;
        align-items: center;
        margin: 0;
        margin-top: 25px;
        padding: 0;
        list-style: none;
    }

    .footer__left-item + .footer__left-item {
        margin-left: 40px;
    }

    .footer__left-link {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
    }


    .footer__center {
        display: flex;
        flex-direction: column;
    }

    .footer__center-desc {
        margin: 0;
        margin-left: 125px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        opacity: 0.6;
        cursor: pointer;
    }




    .footer__right {
        margin-left: auto;
    }

    .footer__right-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .footer__right-item + .footer__right-item {
        margin-left: 16px;
    }

    .footer__right-img {
        cursor: pointer;
    }

    .footer__right-img:hover {
        opacity: 0.8;
    }

    .footer__right-img:active {
        opacity: 0.6;
    }

    .footer__right-desc {
        margin: 0;
        margin-top: 51px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: right;
        color: #FFFFFF;
        opacity: 0.6;
        cursor: pointer;
    }


    @media only screen and (max-width: 1200px) {
        .footer__container {
            flex-direction: column;
            padding: 56px 40px;
        }

        .footer__left-section {
            display: flex;
            justify-content: space-between;
        }

        .footer__center-desc {
            margin: 0;
        }


        .footer__right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 32px;
            margin-left: 0;

        }

        .footer__right-list {
            margin: 0;
            padding-left: 0;
        }

        .footer__right-desc {
            margin: 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .footer__container {
            padding: 64px 24px;
        }

        .footer__left-section {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .footer__left {
            align-items: center;
        }

        .footer__center {
            margin-top: 24px;
            align-items: center;
        }

        .footer__right {
            flex-direction: column;
            margin-top: 40px;
        }

        .footer__right-desc {
            margin-top: 16px;
        }
    }












/* ABOUT */
.about-hero  {
    background-color: #014E56;
}

.about-hero__container {
    display: flex;
    align-items: center;
    padding: 47px 0px 120px;
}

.about-hero__heading {
    font-family: Livvic;
    font-weight: bold;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
}

.about-hero__section {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: 100%;
    max-width: 730px;
}

.about-hero__line {
    margin-bottom: 40px;
    width: 40px;
    height: 3px;
    background: #F67E7E;
}

.about-hero__desc {
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}



.about-hero__img {
    display: none;
}



@media only screen and (max-width: 1000px){
.about-hero__container {
    display: flex;
    flex-direction: column;
    padding: 39px 0px 112px;
}

.about-hero__heading {
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 56px;
}

.about-hero__section {
    margin-left: 0;
}

.about-hero__line {
    display: none;
}

.about-hero__desc {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}
}



@media only screen and (max-width: 600px){
    .about-hero__container {
        padding: 7px 0px 80px;
    }

    .about-hero__heading {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 40px;
    }

    .about-hero__line {
        display: none;
    }

    .about-hero__desc {
        padding: 0 24px;
    }
    }






/* ABOUT-MEET */
.about-meet {
    background: #004047;
}

.about-meet__container {
    padding: 140px 0px;
}

.about-meet__heading {
    padding-bottom: 64px;
    font-family: Livvic;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.about-meet__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: -48px -30px;
    margin-bottom: 0;
    list-style: none;
}
/*
.about-meet__item {
    margin: 48px 30px;
    width: 100%;
    max-width: 350px;
} */

.list-item-first {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 48px 30px;
    text-align: center;
    background: #012F34;
    width: 350px;
    height: 253px;
}

.list-item-first:hover .list-item-second {
    opacity: 1;
    /* height: 100%; */
    max-height: 253px;
}

.list-item-first:active .list-item-second {
    opacity: 1;
    /* height: 100%; */
    max-height: 253px;
}





.about-meet__img {
    margin-top: 32px;
}

.about-meet__name {
    margin: 16px 24px 0px;
    font-family: Livvic;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.about-meet__desc {
    margin-bottom: 28px;
    font-family: Livvic;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.about-meet__line {
    display: flex;
    margin-bottom: -28px;
    padding: 20px;
    width: 56px;
    height: 56px;
    background: #F67E7E;
    border-radius: 50%;
}


/* .about-meet__combined {
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease;
} */


.list-item-second {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #002529;
    opacity: 0;
    transition: all 0.5s;
    text-align: center;
    width: 350px;
    height: 253px;
}


.about-meet__name-second {
    padding-top: 35px;
    font-family: Livvic;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.about-meet__desc-second {
    font-family: Livvic;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    max-width: 254px;
}



.about-meet-list-img {
    margin-left: 10px;
}

.about-meet__line-second {
    display: flex;
    margin-top: 32px;
    padding: 20px;

    border-radius: 50%;
    background: #79C8C7;
}


@media only screen and (max-width: 1400px){
.about-meet__list {
    display: flex;
    justify-content: center;
}

.about-meet__list {
    margin: -48px -11px;
    padding-left: 0;
}

.about-meet__item {
    margin: 48px 11px;
}
}

@media only screen and (max-width: 600px){
    .about-meet__heading {
        font-size: 32px;
        line-height: 32px;
    }

    .about-meet__list {
        margin: -24px 10px;
    }

    .about-meet__item {
        margin: 24px 10px;
    }
    }








    /* ABOUT-CLIENT */
    .about-client {
        background: #012F34;
    }

    .about-client__heading {
        margin-bottom: 0;
        padding: 140px 0px 64px;
        font-family: Livvic;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
    }

    .about-client__section {
        display: flex;
        align-items: center;
        padding-bottom: 140px;
    }

    .about-client__desc + .about-client__desc {
        margin-left: 80px;
    }



    @media only screen and (max-width: 1200px){
        .about-client__heading {
            padding: 100px 0px 44px;
            font-size: 32px;
            line-height: 32px;
        }

        .about-client__section {
            padding-bottom: 100px;
        }

        .about-client__desc + .about-client__desc {
            margin-left: 40px;
        }
    }



    @media only screen and (max-width: 1000px){
        .about-client__heading {
            padding: 88px 0px 64px;
        }

        .about-client__section {
            flex-direction: column;
            padding-bottom: 88px;
        }

        .about-client__desc + .about-client__desc {
            margin-top: 60px;
            margin-left: 0;
        }

        .about-client__desc {
            width: 100%;
            max-width: 150px;
        }
    }




    /* CONTACT */
    .contact__container {
        display: flex;
        padding: 47px 0px 120px;
    }

    .contact__left {
        display: flex;
        flex-direction: column;
    }

    .contact__heading {
        margin-bottom: 16px;
        font-family: Livvic;
        font-weight: bold;
        font-size: 64px;
        line-height: 100px;
        color: #FFFFFF;
    }

    .contact__text {
        margin-bottom: 32px;
        font-family: Livvic;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        color: #F67E7E;
    }

    .contact__section {
        display: flex;
        align-items: center;
    }

    .contact__section + .contact__section {
        margin-top: 8px;
    }

    .contact__desc {
        margin-bottom: 0;
        margin-left: 23px;
        font-family: Livvic;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }


    .form {
        display: flex;
        flex-direction: column;
        margin-left: 300px;
    }

    .form__section + .form__section {
        margin-top: 24px;
    }

    .form__input {
        background-color: transparent;
        width: 540px;
        height: 42px;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        opacity: 0.6;
    }

    .form__input::placeholder {
        padding-left: 14px;
        padding-bottom: 16px;
        font-family: Livvic;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .form__massage {
        background-color: transparent;
        width: 540px;
        height: 84px;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        opacity: 0.6;
    }

    .form__massage::placeholder {
        padding-left: 14px;
        padding-bottom: 58px;
        font-family: Livvic;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .form__btn {
        margin-top: 24px;
        font-family: Livvic;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #004047;
        width: 123px;
        height: 48px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    .form__btn:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }


    @media only screen and (max-width: 1200px){
        .contact__container {
            align-items: center;
            flex-direction: column;
            padding: 48px 0px 64px;
        }

        .contact__left {
            margin-top: 24px;
        }

        .contact__heading {
            text-align: center;
        }

        .contact__text {
            text-align: center;
        }

        .form {
            margin-top: 64px;
            margin-left: 0;
        }
    }


    @media only screen and (max-width: 600px){
        .contact__container {
            padding: 32px 0px 88px;
        }

        .contact__left {
            padding-left: 20px;
            padding-right: 20px;
        }

        .contact__heading {
            font-size: 40px;
            line-height: 40px;
        }

        .form__input {
            width: 300px;
            height: 42px;
        }

        .form__massage {
            width: 300px;
            height: 84px;
        }
    }